numpy==1.26.4
scipy==1.12.0
networkx==3.2.1
matplotlib==3.8.3
seaborn==0.13.2
scikit-learn==1.4.1.post1
pandas==2.2.1
torch==2.2.1
torch-geometric==2.5.0
torch-scatter==2.1.2
torch-sparse==0.6.18
Pillow==10.2.0
gudhi==3.9.0
ripser==0.6.8
persim==0.3.5
plotly==5.19.0
kaleido==0.2.1
